/build
/bin
/lib
/.vscode
/.idea
.cache
.DS_Store
/plugins/CrealityUI/CrealityUId.pdb
/plugins/CrealityUI/CrealityUId.dll
/plugins/CrealityUI/CrealityUId.exp
/plugins/CrealityUI/CrealityUId.ilk
/plugins/CrealityUI/CrealityUId.lib
/Creative3D.pro.user
/Creative3DTest.pro.user
/CMakeLists.txt.user
/plugins/CrealityUI/CrealityUI.dll
/plugins/CrealityUI/*.dll
/plugins/CrealityUI/*.pdb
/plugins/CrealityUI/CrealityUI.lib
/plugins/CrealityUI/CrealityUI.ilk
/plugins/CrealityUI/CrealityUI.exp
/node_modules
/plugins/CrealityFontUI/CrealityFontUId.pdb
/plugins/CrealityFontUI/CrealityFontUId.dll
/plugins/CrealityFontUI/CrealityFontUId.exp
/plugins/CrealityFontUI/CrealityFontUId.ilk
/plugins/CrealityFontUI/CrealityFontUId.lib
/CreativeAD.pro.user
/plugins/CrealityFontUI/CrealityFontUI.dll
/plugins/CrealityFontUI/*.dll
/plugins/CrealityFontUI/*.pdb
/plugins/CrealityFontUI/CrealityFontUI.lib
/plugins/CrealityFontUI/CrealityFontUI.ilk
/plugins/CrealityFontUI/CrealityFontUI.exp
/kernel/CreativeKernel/internal/menu_help/userfeedback.cpp
/kernel/CreativeKernel/internal/menu_help/userfeedback.h
/linux-build/
/ninja-build/
/win32-build/
/mac-build/
/install/
/error_hull_show
/pickTest.bmp
/SkeletalTrapezoidation--*
/plugins/CrealityUI/CrealityUI/qml/CusTreeView - 副本.qml
/plugins/CrealityUI/CrealityUI.pro.user
/plugins/CrealityUIComponent/CrealityUIComponent.pro.user
/plugins/CrealityUITest/CrealityUITest.pro.user
/plugins/CrealityUITest/debug/
/plugins/build-CrealityUI-Desktop_5_15_2_msvc-Debug/
/plugins/build-CrealityUIComponent-Desktop_5_15_2_msvc-Debug/
/plugins/build-CrealityUITest-Desktop_5_15_2_msvc-Debug/
/locales/excel/Cura（对应的英文字段描述）.xlsx
/locales/excel/en.xlsx
/locales/excel/es.xlsx
/locales/excel/fr.xlsx
/locales/excel/ja.xlsx
/locales/excel/ko.xlsx
/locales/excel/Orca（对应的英文字段描述）.xlsx
/locales/excel/Prusa（对应的英文字段描述）.xlsx
/locales/excel/pt.xlsx
/locales/excel/ru.xlsx
/locales/excel/tr.xlsx
/locales/excel/uk.xlsx
/locales/excel/zh_CN.xlsx
/locales/excel/zh_TW.xlsx
/locales/excel/*
/.vs
/out
