Build
Build.bat
/build*/
deps/build*
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
*.log
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
.vs/*
local-lib
/src/TAGS
build-linux/*
deps/build*/*
**/.DS_Store
install_*
build_*/
SVG
src/OrcaSlicer-doc/
.idea/
/.cache/
*.mo
**/process_full/
**/machine_full/
**/filament_full/
/deps/DL_CACHE/
**/.flatpak-builder/
resources/profiles/user/default
OrcaSlicer_dep_Debug
build_Debug
thirdDeps
OrcaSlicer_dep_Release
dep_Release
dep_Release55
dep_Debug
out
.history/
scripts/__pycache__
web_sync_tag
version.txt
var.prop
tagcmmid
maxcmmid
resources/i18n/*/*.*
__pycache__
/customized
/cmmid
/customized
/_tmp
/docs/cmake_structure.md
/docs/filament_parameters_validation.md
/docs/gcode_output_post_process_notes_summary.md
/docs/i18n_walkthrough.md
/docs/learning_checklist.md
/docs/learning_highlights.md
/docs/multimaterial_others_validation_design.md
/docs/printer_parameters_validation.md
/docs/printer_settings_ui_parameters.md
docs
flatbuild
/.edge-zentao-profile
/resources/web/chat/node_modules/
/tools/updater/*.syso
