/build
/bin
/lib
/.vscode
/.idea
.DS_Store
/plugins/CrealityUI/CrealityUId.pdb
/plugins/CrealityUI/CrealityUId.dll
/plugins/CrealityUI/CrealityUId.exp
/plugins/CrealityUI/CrealityUId.ilk
/plugins/CrealityUI/CrealityUId.lib
/Creative3D.pro.user
/Creative3DTest.pro.user
/CMakeLists.txt.user
/plugins/CrealityUI/CrealityUI.dll
/plugins/CrealityUI/*.dll
/plugins/CrealityUI/*.pdb
/plugins/CrealityUI/CrealityUI.lib
/plugins/CrealityUI/CrealityUI.ilk
/plugins/CrealityUI/CrealityUI.exp
/node_modules
/plugins/CrealityFontUI/CrealityFontUId.pdb
/plugins/CrealityFontUI/CrealityFontUId.dll
/plugins/CrealityFontUI/CrealityFontUId.exp
/plugins/CrealityFontUI/CrealityFontUId.ilk
/plugins/CrealityFontUI/CrealityFontUId.lib
/CreativeAD.pro.user
/plugins/CrealityFontUI/CrealityFontUI.dll
/plugins/CrealityFontUI/*.dll
/plugins/CrealityFontUI/*.pdb
/plugins/CrealityFontUI/CrealityFontUI.lib
/plugins/CrealityFontUI/CrealityFontUI.ilk
/plugins/CrealityFontUI/CrealityFontUI.exp
/kernel/CreativeKernel/internal/menu_help/userfeedback.cpp
/kernel/CreativeKernel/internal/menu_help/userfeedback.h
/linux-build/
/ninja-build/
/win32-build/
/mac-build/
/install/
/error_hull_show
/pickTest.bmp
/SkeletalTrapezoidation--*