[Desktop Entry]
Name=Creality_Print
GenericName=Creality_Print
Comment=Creality_Print
Exec=AppRun %F
Icon=default
Terminal=false
Type=Application
Categories=Development;